services:

  backend:
    image: backend-app
    container_name: backend 
    env_file:
      - ./apps/backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - chromadb
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
  
  # frontend:
  #   image: frontend-app
  #   container_name: frontend
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - backend

  chromadb:
    image: chromadb/chroma:latest 
    container_name: chroma_db
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
    
  
  db: 
    image: postgres:15
    container_name: postgres_db 
    env_file:
      - ./apps/backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
volumes:
  postgres_data:
  chroma_data:
    
